{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="col-lg-4">
                    <div class="blog-item position-relative overflow-hidden">
                        <img class="img-fluid" src="{{x.img.url}}" alt="">
                        <a class="blog-overlay" href="">
                            <a  href="{% url 'blogdetail' x.id %}"></a><h4 class="text-white">{{x.name}}</h4>
                            <span class="text-white fw-bold">2024</span>
                        </a>
                    </div>
                </div>
{% endblock content %}